<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/tailwind/output.css">
    <title>Demonstrando SQL</title>
</head>
<body class="max-w-100 h-screen bg-green-50">
    <header class="bg-green-800 px-10 py-5">
        <div>
            <ul class="flex gap-x-10 list-none">
                <li><a href="/">Home</a></li>
                <li><a href="/accounts">Contas</a></li>
            </ul>
        </div>
    </header>
    <main class="w-screen h-screen flex flex-col justify-center items-center">
        <h1 class="font-sans mb-4">Demonstrando SQL</h1>
        <form class="w-96 flex flex-col" method="post" action="/addUser">
            <label for="name">Nome:</label>
            <input type="text" name="name" id="name">
            <label for="lastname">Sobrenome:</label>
            <input type="text" name="lastname" id="lastname">
            <label for="cpf">CPF:</label>
            <input type="text" name="cpf" id="cpf">
            <label for="birthDate">Data de nascimento:</label>
            <input type="text" name="birthDate" id="birthDate">
            <label for="balance">Saldo:</label>
            <input type="text" name="balance" id="balance">
            <input class="w-1/2 mt-4 h-8 rounded-full cursor-pointer" type="submit" value="Enviar">
        </form>
    </main>
    <script src="/js/index.js"></script>
</body>
</html>